<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>销售工作周报查看</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/./static/css/font.css">
    <link rel="stylesheet" href="/./static/css/xadmin.css">
    <script type="text/javascript" src="/./static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/./static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/./static/js/xadmin.js"></script>
    <style>
        .layui-form-pane .layui-form-label{
            width: 125px;
            text-align: left;

        }
        .layui-form-pane .layui-form-text .layui-form-label {
            width: 50%;
        }
    </style>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% if request.session.user_department != "整机事业部" and request.session.user_department != "渠道事业部" %}
    <div class="x-body">
        <xblock>您目前无权利查看！
            <br>请返回<a href="/sellinfo/sellweek/" style="color: #009688"> 上一级 </a>或右上角关闭此选项卡。</xblock>
    </div>
    {% else %}
    <div class="x-body">
        <div class="layui-form layui-form-pane" >
            {% for form in form_detailone %}
            <div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="x-red">*</span>填表人</label>
                    <label class="layui-form-label" style="background-color:#fff ">{{ form.sellname }}</label>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label"><span class="x-red">*</span>填表时间</label>
                    <label class="layui-form-label" style="background-color:#fff ">
                        {{ form.filltime }}
                    </label>
                </div>
                <div></div><br>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="x-red">*</span>本周销售金额</label>
                    <label class="layui-form-label" style="background-color:#fff ">{{ form.salesamount }}万元</label>
                </div>
                <div></div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="x-red">*</span>本周毛利金额</label>
                    <label class="layui-form-label" style="background-color:#fff ">{{ form.grossprofit }}万元</label>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><span class="x-red">*</span>本周主要工作</label>
                    <label class="layui-textarea" style="width: 50%">
                        {{ form.process|linebreaksbr }}
                    </label>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><span class="x-red">*</span>存在问题及建议</label>
                    <label class="layui-textarea" style="width: 50%">
                        {{ form.question|linebreaksbr }}
                    </label>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><span class="x-red">*</span>下周工作安排</label>
                    <label class="layui-textarea" style="width: 50%">
                       {{ form.nextprocess|linebreaksbr }}
                    </label>
                </div>
                <div >
                <a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary ">返回</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        layui.use('util', function() {
        var util = layui.util;

        //执行
        util.fixbar({
            css: { right: 100, bottom: 20 }
        });
    });
    </script>
    {% endfor %}
    {% endif %}
</body>

</html>
