<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/./static/css/font.css">
    <link rel="stylesheet" href="/./static/css/xadmin.css">
    <link rel="shortcut icon" href="/./static/images/favicon.ico"/>
    <script type="text/javascript" src="/./static/js/jquery-3.2.1.min.js"></script>
    <script src="/./static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/./static/js/xadmin.js"></script>
</head>

<body>
    <div class="x-body layui-anim layui-anim-up">
<!--         <blockquote class="layui-elem-quote" style="cursor: default;">欢迎安擎员工 当前时间：<span id="monitor"></span></blockquote> -->
        {% if request.session.user_department == '技术部' %}
        <fieldset class="layui-elem-field">
            <legend style="cursor: default;">统计信息一览</legend>
            <div style="padding-top:2px">
                <span class="layui-breadcrumb" >
  <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<cite style="cursor: default;">上周</cite></a>
  <a href="/welcome_1">本月</a>
  <a href="/welcome_2">上月</a>
    </span>
    </div>
            <div class="layui-tab ">
  <ul class="layui-tab-title">
    <li class="layui-this">方案管理</li>
    <li>事件管理</li>
    <li>日常管理</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show"><table class="layui-table" lay-size="sm">
  <thead>
    <tr>
      <th width="10%">姓名</th>
      <th width="18%">方案填写数目</th>
      <th width="18%">方案已评价数目</th>
      <th width="18%">方案满意度平均分</th>
      <th width="18%">方案问题数目</th>
      <th width="18%">所有方案评论数目</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td>胡箴</td>
      {% if request.session.user_name == "胡箴" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplan/?name=9&times=week" style="color: #009688">{% for list in plan_week %}{% if list.username == '胡箴' %}{{ list.num_plan }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_week %}{% if list.username == '胡箴' %}{{ list.num_plan }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_plan_week %}{% if list.username == '胡箴' %}{{ list.num_saleplan }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_plan_week_score %}{% if list.username == '胡箴' %}{{ list.score_plan | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "胡箴" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplanweekquestion/?name=9" style="color: #009688">{% for list in sale_plan_week_q %}{% if list.username == '胡箴' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_plan_week_q %}{% if list.username == '胡箴' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "胡箴" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplancomment/?name=9" style="color: #009688">{% for list in plan_comment %}{% if list.username == '胡箴' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_comment %}{% if list.username == '胡箴' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王远辉</td>
      {% if request.session.user_name == "王远辉" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplan/?name=10&times=week" style="color: #009688">{% for list in plan_week %}{% if list.username == '王远辉' %}{{ list.num_plan }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_week %}{% if list.username == '王远辉' %}{{ list.num_plan }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_plan_week %}{% if list.username == '王远辉' %}{{ list.num_saleplan }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_plan_week_score %}{% if list.username == '王远辉' %}{{ list.score_plan | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王远辉" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplanweekquestion/?name=10" style="color: #009688">{% for list in sale_plan_week_q %}{% if list.username == '王远辉' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_plan_week_q %}{% if list.username == '王远辉' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王远辉" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplancomment/?name=10" style="color: #009688">{% for list in plan_comment %}{% if list.username == '王远辉' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_comment %}{% if list.username == '王远辉' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王运</td>
      {% if request.session.user_name == "王运" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplan/?name=12&times=week" style="color: #009688">{% for list in plan_week %}{% if list.username == '王运' %}{{ list.num_plan }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_week %}{% if list.username == '王运' %}{{ list.num_plan }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_plan_week %}{% if list.username == '王运' %}{{ list.num_saleplan }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_plan_week_score %}{% if list.username == '王运' %}{{ list.score_plan | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王运" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplanweekquestion/?name=12" style="color: #009688">{% for list in sale_plan_week_q %}{% if list.username == '王运' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_plan_week_q %}{% if list.username == '王运' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王运" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplancomment/?name=12" style="color: #009688">{% for list in plan_comment %}{% if list.username == '王运' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_comment %}{% if list.username == '王运' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王路</td>
      {% if request.session.user_name == "王路" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplan/?name=8&times=week" style="color: #009688">{% for list in plan_week %}{% if list.username == '王路' %}{{ list.num_plan }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_week %}{% if list.username == '王路' %}{{ list.num_plan }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_plan_week %}{% if list.username == '王路' %}{{ list.num_saleplan }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_plan_week_score %}{% if list.username == '王路' %}{{ list.score_plan | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王路" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplanweekquestion/?name=8" style="color: #009688">{% for list in sale_plan_week_q %}{% if list.username == '王路' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_plan_week_q %}{% if list.username == '王路' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王路" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplancomment/?name=8" style="color: #009688">{% for list in plan_comment %}{% if list.username == '王路' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_comment %}{% if list.username == '王路' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王玲玲</td>
      {% if request.session.user_name == "王玲玲" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplan/?name=7&times=week" style="color: #009688">{% for list in plan_week %}{% if list.username == '王玲玲' %}{{ list.num_plan }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_week %}{% if list.username == '王玲玲' %}{{ list.num_plan }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_plan_week %}{% if list.username == '王玲玲' %}{{ list.num_saleplan }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_plan_week_score %}{% if list.username == '王玲玲' %}{{ list.score_plan | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王玲玲" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplanweekquestion/?name=7" style="color: #009688">{% for list in sale_plan_week_q %}{% if list.username == '王玲玲' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_plan_week_q %}{% if list.username == '王玲玲' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王玲玲" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplancomment/?name=7" style="color: #009688">{% for list in plan_comment %}{% if list.username == '王玲玲' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_comment %}{% if list.username == '王玲玲' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>张彪</td>
      {% if request.session.user_name == "张彪" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplan/?name=2&times=week" style="color: #009688">{% for list in plan_week %}{% if list.username == '张彪' %}{{ list.num_plan }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_week %}{% if list.username == '张彪' %}{{ list.num_plan }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_plan_week %}{% if list.username == '张彪' %}{{ list.num_saleplan }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_plan_week_score %}{% if list.username == '张彪' %}{{ list.score_plan | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "张彪" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplanweekquestion/?name=2" style="color: #009688">{% for list in sale_plan_week_q %}{% if list.username == '张彪' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_plan_week_q %}{% if list.username == '张彪' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "张彪" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplancomment/?name=2" style="color: #009688">{% for list in plan_comment %}{% if list.username == '张彪' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_comment %}{% if list.username == '张彪' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>孙宇帆</td>
      {% if request.session.user_name == "孙宇帆" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplan/?name=6&times=week" style="color: #009688">{% for list in plan_week %}{% if list.username == '孙宇帆' %}{{ list.num_plan }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_week %}{% if list.username == '孙宇帆' %}{{ list.num_plan }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_plan_week %}{% if list.username == '孙宇帆' %}{{ list.num_saleplan }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_plan_week_score %}{% if list.username == '孙宇帆' %}{{ list.score_plan | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "孙宇帆" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplanweekquestion/?name=6" style="color: #009688">{% for list in sale_plan_week_q %}{% if list.username == '孙宇帆' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_plan_week_q %}{% if list.username == '孙宇帆' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "孙宇帆" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplancomment/?name=6" style="color: #009688">{% for list in plan_comment %}{% if list.username == '孙宇帆' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_comment %}{% if list.username == '孙宇帆' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>姜天祥</td>
      {% if request.session.user_name == "姜天祥" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplan/?name=13&times=week" style="color: #009688">{% for list in plan_week %}{% if list.username == '姜天祥' %}{{ list.num_plan }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_week %}{% if list.username == '姜天祥' %}{{ list.num_plan }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_plan_week %}{% if list.username == '姜天祥' %}{{ list.num_saleplan }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_plan_week_score %}{% if list.username == '姜天祥' %}{{ list.score_plan | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "姜天祥" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplanweekquestion/?name=13" style="color: #009688">{% for list in sale_plan_week_q %}{% if list.username == '姜天祥' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_plan_week_q %}{% if list.username == '姜天祥' %}{{ list.num_saleplanq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "姜天祥" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportplancomment/?name=13" style="color: #009688">{% for list in plan_comment %}{% if list.username == '姜天祥' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in plan_comment %}{% if list.username == '姜天祥' %}{{ list.num_plancomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
  </tbody>
</table>
</div>
    <div class="layui-tab-item"><table class="layui-table" lay-size="sm">
      <thead>
    <tr>
      <th width="10%">姓名</th>
      <th width="18%">事件填写数目</th>
      <th width="18%">事件已评价数目</th>
      <th width="18%">事件满意度平均分</th>
      <th width="18%">事件问题数目</th>
      <th width="18%">所有事件评论数目</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td>胡箴</td>
      {% if request.session.user_name == "胡箴" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportevent/?name=9&times=week" style="color: #009688">{% for list in event_week %}{% if list.username == '胡箴' %}{{ list.num_event}}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_week %}{% if list.username == '胡箴' %}{{ list.num_event}}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_event_week %}{% if list.username == '胡箴' %}{{ list.num_saleevent }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_event_week_score %}{% if list.username == '胡箴' %}{{ list.score_event | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "胡箴" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventweekquestion/?name=9" style="color: #009688">{% for list in sale_event_week_q %}{% if list.username == '胡箴' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_event_week_q %}{% if list.username == '胡箴' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "胡箴" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventcomment/?name=9" style="color: #009688">{% for list in event_comment %}{% if list.username == '胡箴' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_comment %}{% if list.username == '胡箴' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王远辉</td>
      {% if request.session.user_name == "王远辉" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportevent/?name=10&times=week" style="color: #009688">{% for list in event_week %}{% if list.username == '王远辉' %}{{ list.num_event}}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_week %}{% if list.username == '王远辉' %}{{ list.num_event}}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_event_week %}{% if list.username == '王远辉' %}{{ list.num_saleevent }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_event_week_score %}{% if list.username == '王远辉' %}{{ list.score_event | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王远辉" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventweekquestion/?name=10" style="color: #009688">{% for list in sale_event_week_q %}{% if list.username == '王远辉' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_event_week_q %}{% if list.username == '王远辉' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王远辉" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventcomment/?name=10" style="color: #009688">{% for list in event_comment %}{% if list.username == '王远辉' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_comment %}{% if list.username == '王远辉' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王运</td>
      {% if request.session.user_name == "王运" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportevent/?name=12&times=week" style="color: #009688">{% for list in event_week %}{% if list.username == '王运' %}{{ list.num_event}}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_week %}{% if list.username == '王运' %}{{ list.num_event}}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_event_week %}{% if list.username == '王运' %}{{ list.num_saleevent }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_event_week_score %}{% if list.username == '王运' %}{{ list.score_event | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王运" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventweekquestion/?name=12" style="color: #009688">{% for list in sale_event_week_q %}{% if list.username == '王运' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_event_week_q %}{% if list.username == '王运' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王运" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventcomment/?name=12" style="color: #009688">{% for list in event_comment %}{% if list.username == '王运' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_comment %}{% if list.username == '王运' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王路</td>
      {% if request.session.user_name == "王路" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportevent/?name=8&times=week" style="color: #009688">{% for list in event_week %}{% if list.username == '王路' %}{{ list.num_event}}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_week %}{% if list.username == '王路' %}{{ list.num_event}}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_event_week %}{% if list.username == '王路' %}{{ list.num_saleevent }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_event_week_score %}{% if list.username == '王路' %}{{ list.score_event | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王路" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventweekquestion/?name=8" style="color: #009688">{% for list in sale_event_week_q %}{% if list.username == '王路' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_event_week_q %}{% if list.username == '王路' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王路" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventcomment/?name=8" style="color: #009688">{% for list in event_comment %}{% if list.username == '王路' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_comment %}{% if list.username == '王路' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王玲玲</td>
      {% if request.session.user_name == "王玲玲" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportevent/?name=7&times=week" style="color: #009688">{% for list in event_week %}{% if list.username == '王玲玲' %}{{ list.num_event}}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_week %}{% if list.username == '王玲玲' %}{{ list.num_event}}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_event_week %}{% if list.username == '王玲玲' %}{{ list.num_saleevent }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_event_week_score %}{% if list.username == '王玲玲' %}{{ list.score_event | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王玲玲" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventweekquestion/?name=7" style="color: #009688">{% for list in sale_event_week_q %}{% if list.username == '王玲玲' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_event_week_q %}{% if list.username == '王玲玲' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王玲玲" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventcomment/?name=7" style="color: #009688">{% for list in event_comment %}{% if list.username == '王玲玲' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_comment %}{% if list.username == '王玲玲' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>张彪</td>
      {% if request.session.user_name == "张彪" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportevent/?name=2&times=week" style="color: #009688">{% for list in event_week %}{% if list.username == '张彪' %}{{ list.num_event}}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_week %}{% if list.username == '张彪' %}{{ list.num_event}}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_event_week %}{% if list.username == '张彪' %}{{ list.num_saleevent }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_event_week_score %}{% if list.username == '张彪' %}{{ list.score_event | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "张彪" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventweekquestion/?name=2" style="color: #009688">{% for list in sale_event_week_q %}{% if list.username == '张彪' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_event_week_q %}{% if list.username == '张彪' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "张彪" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventcomment/?name=2" style="color: #009688">{% for list in event_comment %}{% if list.username == '张彪' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_comment %}{% if list.username == '张彪' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>孙宇帆</td>
      {% if request.session.user_name == "孙宇帆" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportevent/?name=6&times=week" style="color: #009688">{% for list in event_week %}{% if list.username == '孙宇帆' %}{{ list.num_event}}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_week %}{% if list.username == '孙宇帆' %}{{ list.num_event}}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_event_week %}{% if list.username == '孙宇帆' %}{{ list.num_saleevent }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_event_week_score %}{% if list.username == '孙宇帆' %}{{ list.score_event | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "孙宇帆" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventweekquestion/?name=6" style="color: #009688">{% for list in sale_event_week_q %}{% if list.username == '孙宇帆' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_event_week_q %}{% if list.username == '孙宇帆' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "孙宇帆" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventcomment/?name=6" style="color: #009688">{% for list in event_comment %}{% if list.username == '孙宇帆' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_comment %}{% if list.username == '孙宇帆' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>姜天祥</td>
      {% if request.session.user_name == "姜天祥" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportevent/?name=13&times=week" style="color: #009688">{% for list in event_week %}{% if list.username == '姜天祥' %}{{ list.num_event}}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_week %}{% if list.username == '姜天祥' %}{{ list.num_event}}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_event_week %}{% if list.username == '姜天祥' %}{{ list.num_saleevent }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_event_week_score %}{% if list.username == '姜天祥' %}{{ list.score_event | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "姜天祥" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventweekquestion/?name=13" style="color: #009688">{% for list in sale_event_week_q %}{% if list.username == '姜天祥' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_event_week_q %}{% if list.username == '姜天祥' %}{{ list.num_saleeventq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "姜天祥" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exporteventcomment/?name=13" style="color: #009688">{% for list in event_comment %}{% if list.username == '姜天祥' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in event_comment %}{% if list.username == '姜天祥' %}{{ list.num_eventcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
  </tbody>
</table></div>
    <div class="layui-tab-item"><table class="layui-table" lay-size="sm">
  <thead>
    <tr>
      <th width="10%">姓名</th>
      <th width="18%">日常填写数目</th>
      <th width="18%">日常已评价数目</th>
      <th width="18%">日常满意度平均分</th>
      <th width="18%">日常问题数目</th>
      <th width="18%">所有日常评论数目</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td>胡箴</td>
      {% if request.session.user_name == "胡箴" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportwork/?name=9&times=week" style="color: #009688">{% for list in work_week %}{% if list.username == '胡箴' %}{{ list.num_work }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_week %}{% if list.username == '胡箴' %}{{ list.num_work }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_work_week %}{% if list.username == '胡箴' %}{{ list.num_salework }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_work_week_score %}{% if list.username == '胡箴' %}{{ list.score_work | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "胡箴" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkweekquestion/?name=9" style="color: #009688">{% for list in sale_work_week_q %}{% if list.username == '胡箴' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_work_week_q %}{% if list.username == '胡箴' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "胡箴" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkcomment/?name=9" style="color: #009688">{% for list in work_comment %}{% if list.username == '胡箴' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_comment %}{% if list.username == '胡箴' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王远辉</td>
      {% if request.session.user_name == "王远辉" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportwork/?name=10&times=week" style="color: #009688">{% for list in work_week %}{% if list.username == '王远辉' %}{{ list.num_work }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_week %}{% if list.username == '王远辉' %}{{ list.num_work }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_work_week %}{% if list.username == '王远辉' %}{{ list.num_salework }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_work_week_score %}{% if list.username == '王远辉' %}{{ list.score_work | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王远辉" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkweekquestion/?name=10" style="color: #009688">{% for list in sale_work_week_q %}{% if list.username == '王远辉' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_work_week_q %}{% if list.username == '王远辉' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王远辉" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkcomment/?name=10" style="color: #009688">{% for list in work_comment %}{% if list.username == '王远辉' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_comment %}{% if list.username == '王远辉' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王运</td>
      {% if request.session.user_name == "王运" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportwork/?name=12&times=week" style="color: #009688">{% for list in work_week %}{% if list.username == '王运' %}{{ list.num_work }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_week %}{% if list.username == '王运' %}{{ list.num_work }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_work_week %}{% if list.username == '王运' %}{{ list.num_salework }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_work_week_score %}{% if list.username == '王运' %}{{ list.score_work | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王运" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkweekquestion/?name=12" style="color: #009688">{% for list in sale_work_week_q %}{% if list.username == '王运' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_work_week_q %}{% if list.username == '王运' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王运" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkcomment/?name=12" style="color: #009688">{% for list in work_comment %}{% if list.username == '王运' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_comment %}{% if list.username == '王运' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王路</td>
      {% if request.session.user_name == "王路" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportwork/?name=8&times=week" style="color: #009688">{% for list in work_week %}{% if list.username == '王路' %}{{ list.num_work }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_week %}{% if list.username == '王路' %}{{ list.num_work }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_work_week %}{% if list.username == '王路' %}{{ list.num_salework }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_work_week_score %}{% if list.username == '王路' %}{{ list.score_work | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王路" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkweekquestion/?name=8" style="color: #009688">{% for list in sale_work_week_q %}{% if list.username == '王路' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_work_week_q %}{% if list.username == '王路' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王路" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkcomment/?name=8" style="color: #009688">{% for list in work_comment %}{% if list.username == '王路' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_comment %}{% if list.username == '王路' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>王玲玲</td>
      {% if request.session.user_name == "王玲玲" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportwork/?name=7&times=week" style="color: #009688">{% for list in work_week %}{% if list.username == '王玲玲' %}{{ list.num_work }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_week %}{% if list.username == '王玲玲' %}{{ list.num_work }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_work_week %}{% if list.username == '王玲玲' %}{{ list.num_salework }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_work_week_score %}{% if list.username == '王玲玲' %}{{ list.score_work | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "王玲玲" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkweekquestion/?name=7" style="color: #009688">{% for list in sale_work_week_q %}{% if list.username == '王玲玲' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_work_week_q %}{% if list.username == '王玲玲' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "王玲玲" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkcomment/?name=7" style="color: #009688">{% for list in work_comment %}{% if list.username == '王玲玲' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_comment %}{% if list.username == '王玲玲' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>张彪</td>
      {% if request.session.user_name == "张彪" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportwork/?name=2&times=week" style="color: #009688">{% for list in work_week %}{% if list.username == '张彪' %}{{ list.num_work }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_week %}{% if list.username == '张彪' %}{{ list.num_work }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_work_week %}{% if list.username == '张彪' %}{{ list.num_salework }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_work_week_score %}{% if list.username == '张彪' %}{{ list.score_work | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "张彪" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkweekquestion/?name=2" style="color: #009688">{% for list in sale_work_week_q %}{% if list.username == '张彪' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_work_week_q %}{% if list.username == '张彪' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "张彪" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkcomment/?name=2" style="color: #009688">{% for list in work_comment %}{% if list.username == '张彪' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_comment %}{% if list.username == '张彪' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>孙宇帆</td>
      {% if request.session.user_name == "孙宇帆" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportwork/?name=6&times=week" style="color: #009688">{% for list in work_week %}{% if list.username == '孙宇帆' %}{{ list.num_work }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_week %}{% if list.username == '孙宇帆' %}{{ list.num_work }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_work_week %}{% if list.username == '孙宇帆' %}{{ list.num_salework }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_work_week_score %}{% if list.username == '孙宇帆' %}{{ list.score_work | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "孙宇帆" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkweekquestion/?name=6" style="color: #009688">{% for list in sale_work_week_q %}{% if list.username == '孙宇帆' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_work_week_q %}{% if list.username == '孙宇帆' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "孙宇帆" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkcomment/?name=6" style="color: #009688">{% for list in work_comment %}{% if list.username == '孙宇帆' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_comment %}{% if list.username == '孙宇帆' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
    <tr>
      <td>姜天祥</td>
      {% if request.session.user_name == "姜天祥" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportwork/?name=13&times=week" style="color: #009688">{% for list in work_week %}{% if list.username == '姜天祥' %}{{ list.num_work }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_week %}{% if list.username == '姜天祥' %}{{ list.num_work }}{% endif %}{% endfor %}</td>
      {% endif %}
      <td align="center">{% for list in sale_work_week %}{% if list.username == '姜天祥' %}{{ list.num_salework }}{% endif %}{% endfor %}</td>
      <td align="center">{% for list in sale_work_week_score %}{% if list.username == '姜天祥' %}{{ list.score_work | default_if_none:"" | floatformat }}{% endif %}{% endfor %}</td>
      {% if request.session.user_name == "姜天祥" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkweekquestion/?name=13" style="color: #009688">{% for list in sale_work_week_q %}{% if list.username == '姜天祥' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in sale_work_week_q %}{% if list.username == '姜天祥' %}{{ list.num_saleworkq }}{% endif %}{% endfor %}</td>
      {% endif %}
      {% if request.session.user_name == "姜天祥" or request.session.user_name == '陈武' %}
      <td align="center"><a href="/forminfo/exportworkcomment/?name=13" style="color: #009688">{% for list in work_comment %}{% if list.username == '姜天祥' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</a></td>
      {% else %}
      <td align="center">{% for list in work_comment %}{% if list.username == '姜天祥' %}{{ list.num_workcomment }}{% endif %}{% endfor %}</td>
      {% endif %}
    </tr>
  </tbody>
</table></div>
  </div>
</div>
        </fieldset>
        {% endif %}
        <fieldset class="layui-elem-field">
            <legend style="cursor: default;">系统公告</legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
                    <tbody>
                        <tr>
                            <td>
                                <a class="x-a" onclick="update()" style="cursor:pointer" target="_blank">2.2版本更新说明及注意事项
（表单超过10天将自动评价，销售可以随时更改。您的评价将会使我们工作的更好！）</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
</div>
        <script>
    function update(){
        layer.open({
            area: '400px',
            title: '更新说明以及注意事项',
            content: '更新说明：<br />1.技术部更新手机版界面,可以直接用手机访问<br />2.导出导入优化,可以同时导出导入三张表并自动命名<br />注意事项:<br />1.填表格必须根据给出的要求格式填写,适当回车排版<br />2.填写时打*的是必填项,否则会无法提交'
        });
    }
    </script>
<!--     <script>
    var monitor = document.getElementById('monitor');

    setInterval(function() {

        var now = new Date();
        monitor.innerHTML = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();

    }, 500);
    </script> -->
    <script>
//注意：选项卡 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;
  
  //…
});
</script>
</body>

</html>
