<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>安擎工作管理系统(手机版)</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/./static/css/sm.css">
    <link rel="stylesheet" href="/./static/css/sm-extend.css">
    <link rel="stylesheet" href="/./static/css/index.css">
    <style>
        .list-block .item-inner:after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #e7e7e7;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
       -o-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.card-content-inner:after{
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #e7e7e7;
    -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
       -o-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
        }
        .toptab{
            height: 1.9rem;
        }
        
        .buttons-tab{
            position: fixed;
            width: 100%;
            z-index: 999;
        }
    </style>

    <!--     <link rel="stylesheet" href="/./static/css/font.css"> -->
    <!--     <link rel="stylesheet" href="/./static/css/xadmin.css"> -->
    <!--     <script type="text/javascript" src="/./static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/./static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/./static/js/xadmin.js"></script> -->
</head>

<body>
    <!-- main page -->
    <div class="page page-current" id="page-index">
        <header class="bar bar-nav">
            <a class="icon icon-menu button button-link pull-left open-panel"></a>
            <a class="button button-link button-nav pull-right open-popup" data-popup=".popup-about">
            <span class="icon icon-me"></span>
            </a>
            <h1 class="title">安擎工作管理系统(手机版)</h1>
        </header>
        <div class="content native-scroll" id="page-index">
            <div id="content-operation" class="row">
                <div class="col-100">
                <div class="toptab"> 
                    <div class="buttons-tab">
                        <a href="#tab1" class="tab-link active button">Sale周报修改</a>
                        <!--                         <a href="#tab2" class="tab-link button">搜索</a> -->
                    </div>
                    </div>
                    <div class="content-block">
                        <div class="tabs">
                            <div id="tab1" class="tab active">
                                {% for form in form_detailone %}
                                <form action="/sellinfo/updateinfo/" method="POST" >
                                    {% csrf_token %}
                                <div class="list-block">
                                    <ul>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">*填表人</div>
                                                    <div class="item-input">
                                                        <input type="text" name="sellname" placeholder="请输入姓名" autocomplete="off" value="{{ form.sellname }}" required="">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">*填表时间</div>
                                                    <div class="item-input">
                                                        <input type="date" name="filltime" autocomplete="off" placeholder="填表时间(开始)" required="required" value="{{ form.filltime|date:'Y-m-d' }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">*本周销售金额</div>
                                                    <div class="item-input">
                                                        <input type="text" name="salesamount" placeholder="输入数字 单位为(万元)" autocomplete="off" required="" value="{{ form.salesamount }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">*本周毛利金额</div>
                                                    <div class="item-input">
                                                        <input type="text" name="grossprofit" placeholder="输入数字 单位为(万元)" autocomplete="off" required="" value="{{ form.grossprofit }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="align-top">
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">*本周主要工作</div>
                                                    <div class="item-input">
                                                        <textarea name="process" placeholder="1.本周销售多少万元，毛利多少万元。
2.本周主要销售交付哪几家客户。
3.本周拜访计划实施情况，收获。
4.本周回款情况等。" required="">{{ form.process }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="align-top">
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">*存在问题,建议</div>
                                                    <div class="item-input">
                                                        <textarea name="question" placeholder="至少2条起。" required="">{{ form.question }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="align-top">
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">*下周工作安排</div>
                                                    <div class="item-input">
                                                        <textarea name="nextprocess" placeholder="计划拜访哪几家新客户和老客户维系，工作安排等。" required="">{{ form.nextprocess }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <div class="card-content-inner" style="text-align: left;"><a href="javascript:history.go(-2)"external>返回上一页</a></div>
                                    </ul>
                                </div>
                                <div class="content-block">
                                            <div class="row">
                                                <div class="col-50" align="center"><button type="submit" class="button button-big button-fill button-success" >立即提交</button></div>
                                                <div class="col-50" align="center"><button type="reset" class="button button-big button-fill button-warning" ">重置</a></div>
                                            </div>
                                        </div>
                                </form>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'userpublic.html' %}
    <script type='text/javascript' src='/./static/js/zepto.js' charset='utf-8'></script>
    <script type='text/javascript' src='/./static/js/sm.js' charset='utf-8'></script>
    <script type='text/javascript' src='/./static/js/sm-extend.js' charset='utf-8'></script>
    <script type="text/javascript" src="/./static/js/index.js"></script>
</body>

</html>