<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>安擎工作管理系统(手机版)</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/./static/css/sm.css">
    <link rel="stylesheet" href="/./static/css/sm-extend.css">
    <link rel="stylesheet" href="/./static/css/index.css">
    <style>
        .list-block .item-inner:after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #e7e7e7;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
       -o-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.card-content-inner:after{
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #e7e7e7;
    -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
       -o-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
        }
        .toptab{
            height: 1.9rem;
        }
        
        .buttons-tab{
            position: fixed;
            width: 100%;
            z-index: 999;
        }
    </style>
    <!--     <link rel="stylesheet" href="/./static/css/font.css"> -->
    <!--     <link rel="stylesheet" href="/./static/css/xadmin.css"> -->
    <!--     <script type="text/javascript" src="/./static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/./static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/./static/js/xadmin.js"></script> -->
</head>

<body>
    <!-- main page -->
    <div class="page page-current" id="page-index">
        <header class="bar bar-nav">
            <a class="icon icon-menu button button-link pull-left open-panel"></a>
            <a class="button button-link button-nav pull-right open-popup" data-popup=".popup-about">
            <span class="icon icon-me"></span>
            </a>
            <h1 class="title">安擎工作管理系统(手机版)</h1>
        </header>
        <div class="content native-scroll" id="page-index">
            <div id="content-operation" class="row">
                <div class="col-100">
                    <div class="toptab">
                        <div class="buttons-tab">
                            <a href="#tab1" class="tab-link  button">FAE事件添加</a>
                            <a href="#tab2" class="tab-link active button">导入多条事件</a>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="tabs">
                            <div id="tab1" class="tab">
                                <form action="/forminfo/addinfoevent/" method="POST">
                                    {% csrf_token %}
                                    <div class="list-block">
                                        <ul>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">*姓名</div>
                                                        <div class="item-input">
                                                            <input type="text" name="fae_name" autocomplete="off" value="{{ request.session.user_name }}" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">*区域</div>
                                                        <select name="area" required="required">
                                                            <option value="">请选择</option>
                                                            <option value="南京">南京</option>
                                                            <option value="北京">北京</option>
                                                            <option value="深圳">深圳</option>
                                                            <option value="武汉">武汉</option>
                                                            <option value="成都">成都</option>
                                                            <option value="西安">西安</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">*销售</div>
                                                        <div class="item-input">
                                                            <input type="text" name="sellname" autocomplete="off" placeholder="请务必输入实际姓名" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">&nbsp;客户名称</div>
                                                        <div class="item-input">
                                                            <input type="text" name="customer_name" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">&nbsp;客户分类</div>
                                                        <div class="item-input">
                                                            <input type="text" name="customer_classification" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">&nbsp;事件名称</div>
                                                        <div class="item-input">
                                                            <input type="text" name="project_name" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">*发起时间</div>
                                                        <div class="item-input">
                                                            <input type="date" name="start_date" autocomplete="off" placeholder="请输入时间" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">*要求回复时间</div>
                                                        <div class="item-input">
                                                            <input type="text" name="reply_date" autocomplete="off" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">*预计用时</div>
                                                        <div class="item-input">
                                                            <input type="number" min="1" name="estimated_time" autocomplete="off" required="required" placeholder="只能填数字 单位为 分钟">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-top">
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">*过程描述</div>
                                                        <div class="item-input">
                                                            <textarea name="process" required="required"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">*结束时间</div>
                                                        <div class="item-input">
                                                            <input type="date" name="end_date" autocomplete="off" placeholder="请输入时间" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title label">*用时估算</div>
                                                        <div class="item-input">
                                                            <input type="number" min="1" name="estimate" autocomplete="off" required="required" placeholder="只能填数字 单位为 分钟">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content-block">
                                        <div class="row">
                                            <div class="col-50" align="center"><button type="submit" class="button button-big button-fill button-success">立即提交</button></div>
                                            <div class="col-50" align="center"><button type="reset" class="button button-big button-fill button-warning" ">重置</button></div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                                                        <div id="tab2" class="tab active">
                                                    <div class="content-block">
                                                        <div class="list-block">
                                                            <form class="" action="/forminfo/postevent/" method="post" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <input type="file" name="excel">
                                                                <div style="height: 1.5rem"></div>
                                                                <div align="center"><button type="submit" class="button button-fill">上传</button></div>
                                                            </form>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'userpublic.html' %}
                <script type='text/javascript' src='/./static/js/zepto.js' charset='utf-8'></script>
                <script type='text/javascript' src='/./static/js/sm.js' charset='utf-8'></script>
                <script type='text/javascript' src='/./static/js/sm-extend.js' charset='utf-8'></script>
                <script type=" text/javascript" src="/./static/js/index.js"></script>
                <script>
                $.alert('{{ message }}');
                </script>
</body>

</html>