<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>安擎工作管理系统(手机版)</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/./static/css/sm.css">
    <link rel="stylesheet" href="/./static/css/sm-extend.css">
    <link rel="stylesheet" href="/./static/css/index.css">
    <style>
        .list-block .item-inner:after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #e7e7e7;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
       -o-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.card-content-inner:after{
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #e7e7e7;
    -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
       -o-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
        }
        .toptab{
            height: 1.9rem;
        }
        
        .buttons-tab{
            position: fixed;
            width: 100%;
            z-index: 999;
        }
    </style>
    <!--     <link rel="stylesheet" href="/./static/css/font.css"> -->
    <!--     <link rel="stylesheet" href="/./static/css/xadmin.css"> -->
<!--     <script type="text/javascript" src="/./static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/./static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/./static/js/xadmin.js"></script> -->
</head>

<body>
    <!-- main page -->
    <div class="page page-current" id="page-index">
        <header class="bar bar-nav">
            <a class="icon icon-menu button button-link pull-left open-panel"></a>
            <a class="button button-link button-nav pull-right open-popup" data-popup=".popup-about">
            <span class="icon icon-me"></span>
            </a>
            <h1 class="title">安擎工作管理系统(手机版)</h1>
        </header>
        <div class="content native-scroll" id="page-index">
            <div id="content-operation" class="row">
                <div class="col-100">
                    <div class="toptab">
                    <div class="buttons-tab">
                        <a href="#tab1" class="tab-link active button">售后服务单</a>
                        <a href="#tab2" class="tab-link button">搜索</a>
                    </div>
                    </div>
                    <div class="content-block">
                        <div class="tabs">
                            <div id="tab1" class="tab active">
                                <div class="card">
<!--                                     <div class="card-content"> -->
                                        {% for form in form_detailone %}
                                        <div class="card-content-inner">
                                            填表人: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.servicename }}<br>
                                        </div>
                                        <div class="card-content-inner">填表日期: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.filltime }}</div>
                                        {% if form.assistant1 != "" %}
                                        <div class="card-content-inner">合作人: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.assistant1 }}</div>
                                        {% endif %}
                                        {% if form.assistant2 != "" %}
                                        <div class="card-content-inner">合作人: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.assistant2 }}</div>
                                        {% endif %}
                                        {% if form.assistant3 != "" %}
                                        <div class="card-content-inner">合作人: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.assistant3 }}</div>
                                        {% endif %}
                                        {% if form.assistant4 != "" %}
                                        <div class="card-content-inner">合作人: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.assistant4 }}</div>
                                        {% endif %}
                                        <div class="card-content-inner">服务区域: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.area }}</div>
                                        <div class="card-content-inner">销售姓名: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.sellname }}</div>
                                        <div class="card-content-inner">客户姓名: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.customer }}</div>
                                        <div class="card-content-inner">客户电话: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.phone }}</div>
                                        <div class="card-content-inner">客户单位: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.company }}</div>
                                        <div class="card-content-inner">客户地址: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.address }}</div>
                                        <div class="card-content-inner">产品名称: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.productname }}</div>
                                        <div class="card-content-inner">产品型号: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.productmodel }}</div>
                                        <div class="card-content-inner">产品序列号: &emsp;&emsp;&emsp;&emsp;&emsp;{{ form.productid }}</div>
                                        <div class="card-content-inner">销售时间: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.salestime|default_if_none:"" }}</div>
                                        <div class="card-content-inner">故障现象描述: <br><br>{{ form.faultdescription|linebreaksbr }}</div>
                                        <div class="card-content-inner">故障处理记录: <br><br>{{ form.faultrecord|linebreaksbr }}</div>
                                        <div class="card-content-inner">故障处理结果: <br><br>{{ form.faultresult|linebreaksbr }}</div>
                                        <div class="card-content-inner">意见: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.opinion|default_if_none:"" }}</div>
                                        <div class="card-content-inner">具体意见: <br><br>{{ form.specificopinion|linebreaksbr }}</div>
                                        <div class="card-content-inner" style="text-align: left;"><a href="javascript:history.go(-2)"external>返回上一页</a></div>
<!--                                     </div> -->
                                </div>
                                {% endfor %}
                            </div>
                            <div id="tab2" class="tab">
                                <div class="content-block">
                                    <form action="/serviceinfo/service/" method="POST" id="form1">
                                        {% csrf_token %}
                                        <div class="list-block">
                                            <ul>
                                                {% if request.session.user_name == "庄嘉" %}
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media"><i class="icon icon-card"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title label">填表人</div>
                                                            <div class="item-input">
                                                                <input type="text" name="show_name" placeholder="姓名" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media"><i class="icon icon-home"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title label">服务区域</div>
                                                            <div class="item-input">
                                                                <input type="text" name="show_area" placeholder="地区" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media"><i class="icon icon-card"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title label">销售姓名</div>
                                                            <div class="item-input">
                                                                <input type="text" name="show_sellname" placeholder="姓名" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media"><i class="icon icon-card"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title label">客户名称</div>
                                                            <div class="item-input">
                                                                <input type="text" name="show_customer" placeholder="姓名" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endif %}
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media"><i class="icon icon-clock"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title label">填表时间</div>
                                                            <div class="item-input">
                                                                <input type="date" name="show_timestart" autocomplete="off" placeholder="填表时间(开始)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media"><i class="icon icon-clock"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title label">填表时间</div>
                                                            <div class="item-input">
                                                                <input type="date" name="show_timeend" autocomplete="off" placeholder="填表时间(结束)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="content-block">
                                            <div class="row">
                                                <div class="col-50" align="center"><button type="submit" class="button button-big button-fill button-success" onclick="changeAction()">查询</button></div>
                                                <div class="col-50" align="center"><button type="submit" class="button button-big button-fill button-warning" onclick="changeAction1()">导出</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'userpublic.html' %}
    <script type='text/javascript' src='/./static/js/zepto.js' charset='utf-8'></script>
    <script type='text/javascript' src='/./static/js/sm.js' charset='utf-8'></script>
    <script type='text/javascript' src='/./static/js/sm-extend.js' charset='utf-8'></script>
    <script type="text/javascript" src="/./static/js/index.js"></script>
    <script>
    function changeAction() {
        $('#form1').attr('action', '/serviceinfo/service/');
        // console.log($('#form1').attr('action'));

    }

    function changeAction1() {
        $('#form1').attr('action', '/serviceinfo/exportservice/');
        // console.log($('#form1').attr('action'));

    }
    </script>
</body>

</html>